.darkmode {
    --color-tone-1: #d7dadc;
    --color-tone-2: #818384;
    --color-tone-3: #565758;
    --color-tone-4: #3a3a3c;
    --color-tone-5: #272729;
    --color-tone-6: #1a1a1b;
    --color-tone-7: #121213;
    --yellow: #b59f3b;
    --green: #538d4e;
    --gray: #939598;
    --darkgray: var(--color-tone-4);
    --key-bg: var(--color-tone-2);
    --key-text-color: var(--color-tone-1);
}
