.keyboard {
    margin: 0 8px;
    user-select: none;
}

.keyboard-row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

    .keyboard-row .half {
        flex: 0.5;
    }

    .keyboard-row .one-and-a-half {
        flex: 1.5;
    }

    .keyboard-row button {
        font-family: inherit;
        font-weight: bold;
        border: 0;
        padding: 0;
        margin: 0 6px 0 0;
        height: 58px;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;
        background-color: var(--key-bg);
        color: var(--key-text-color);
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        -webkit-tap-highlight-color: rgba(0,0,0,0.3);
    }

        .keyboard-row button:last-of-type {
            margin: 0;
        }

        .keyboard-row button[data-state='absent'] {
            background-color: var(--darkgray);
        }

        .keyboard-row button[data-state='correct'] {
            background-color: var(--green);
        }

        .keyboard-row button[data-state='present'] {
            background-color: var(--yellow);
        }