@using BlazorWordle.Interfaces
@implements IDisposable

<div class="row">
    @for (int i = 0; i < State!.MaxLength; i++)
    {
        <div @key="i" class="cell">@State![i]</div>
    }
</div>

@code {
    [Parameter]
    [EditorRequired]
    public ICurrentWordState State { get; set; } = default!;

    protected override Task OnInitializedAsync()
    {
        State.OnStateChanged += StateHasChanged;
        return base.OnInitializedAsync();
    }

    public void Dispose()
        => State.OnStateChanged -= StateHasChanged;
}